@use "./config.module.scss";

.finePrint {
	font-size: config.$body-font-size * 0.65;
}

.bigText {
	font-size: config.$body-font-size * 0.95;
}

.tight {
	line-height: config.$body-line-height * 0.8;
}
