@import "~inuitcss/settings/settings.core";
@import "~inuitcss/tools/tools.font-size";
@import "~bourbon-neat/core/neat";
@import "src/css/settings/_global.scss";
@import "src/css/settings/_colors.scss";
@import "src/css/settings/_grid.scss";

.base {
  @include grid-collapse;
}

.field {
  margin-bottom: $inuit-global-spacing-unit;
  font-weight: bold;
}

.invalid {
  border: 1px solid $error-color;
  box-shadow: 0 0 5px rgba($error-color, .4);
}

.userField {
  composes: field;
  @include grid-column;

  @include grid-media($neat-grid) {
    @include grid-column(1 of 2);
  }
}

.messageField {
  composes: field;
  @include grid-column;
}

.submit {
  @include grid-column;
}
