/*------------------------------------*\
  #LINKS
\*------------------------------------*/

@import "../settings/colors";
@import "../settings/global";

$link-color: $text-color;
$link-color--hover: lighten($link-color, 30);
$link-underline-height: 2px;

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: $link-underline-height solid $link-color;
  font-weight: bold;
  transition: all $global-transition;

  &:hover {
    color: $link-color--hover;
    border-color: $link-color--hover;
  }
}
