///* ========================================================================
//   #COLORS
//   ======================================================================== */
// Setting variables for all the colors we use across the site.

$primary-color: #fff;
$neg-primary-color: #262626;

$text-color: #011920;
$neg-text-color: #f5f5f5;
