///* ========================================================================
//   #COLORS
//   ======================================================================== */
// Setting variables for all the colors we use across the site.

$background-color: #fff;
$text-color: #011920;;
$header-color: $text-color;
