///* ========================================================================
//   #COLORS
//   ======================================================================== */
// Setting variables for all the colors we use across the site.

$background-color: #fff;
$text-color: #777777;
$header-color: darken($text-color, 20);

// These are used for setting the color of links/icons for different websites.
$brand-colors: (
  twitter: #1da1f2,
  github: #333
);
