///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-transition: .2s;
$global-transition--slow: $global-transition*2.5;

$box-shadow: 0 0 8px rgba(#888, .5);
