
/* ========================================================================== *
   ^ Imports
 * ========================================================================== */

// Compass
@import "compass/css3";
@import "compass/typography/vertical_rhythm";

// Susy grid system
@import "susy";

// Baseline grid for debugging vertical rhythm
@import url("http://basehold.it/26/");

// Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);


/* ========================================================================== *
   ^ Variables
 * ========================================================================== */

// == Susy Grid == //

$total-columns  : 8;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;


// == Font Sizes == //

$base-font-size     : 16px;
$base-line-height   : 26px;


// == Colors == //

$color__text        : #353b3d;
$color__header      : #3A3E42;
$color__link        : #9215AB;                  // 2995D9
$color__link--hover : shade($color__link, 40%); // EDAE00
$color__blockquote  : tint($color__text, 30%);
