
/* Table of Contents
   ========================================================================== */

/*

    1. Compass
    2. Fonts
 */


/* 1. Compass - Importing Gems and Modules
   ========================================================================== */

/* Import Compass modules individually so it's clear what
   is being used in the project */
@import "compass/css3";


/* Susy grid system */

@import "susy";

$total-columns : 8;
$column-width  : 4em;
$gutter-width  : 1em;
$grid-padding  : $gutter-width;


/* Modular Scale - Version 2.0+ is required */

@import "modular-scale";

$ms-base: 1em;
$ms-ratio: $fifth;


/* 2. Fonts - Directly from Google
   ========================================================================== */

/* Droid Sans for regular text and Roboto Slab for headers. */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Roboto+Slab);

$font-stack: "Droid Sans", sans-serif;
$header-font-stack: "Roboto Slab", serif;
$mono-font-stack: "Lucida Console", monospace;

