
/* ========================================================================== *
   ^ Imports
 * ========================================================================== */

@import "compass/css3";
@import "compass/typography/vertical_rhythm";

@import url(http://fonts.googleapis.com/css?family=Lato:300);


/* ========================================================================== *
   ^ Variables
 * ========================================================================== */

$color__text         : #fff;
$color__header       : #fff;
$color__link         : #fff;
$color__link--hover  : #fff;


/* ========================================================================== *
   ^ Main
 * ========================================================================== */

body {
  color: $color__text;
  font-size: 1rem;
  line-height: 1.5;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  background: #161619 url('/assets//img/bg-desk.jpg') no-repeat center center fixed;
  @include background-size(cover);
}


h1, h2, h3, h4, h5, h6,
ul, ol, dd,
p, figure, blockquote,
pre, table, fieldset, hr {
  // Make sure our main elements adhere to the baseline grid.
  @include rhythm(0, 0, 0, 1, 1em);
  @include box-sizing(border-box)
}


/* ========================================================================== *
   ^ Typography
 * ========================================================================== */

// == Headers == //

h1, h2, h3 {
  color: $color__header;
  font-family: Lato;
  font-weight: 400;
}

h1 { font-size: 2.2rem;  }
h2 { font-size: 1.85rem; }
h3 { font-size: 1.5rem;  }


// == Links == //

a:link, a:visited {
  color: $color__link;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255, 0.25);
  @include transition(all, 0.2s, ease);
}

a:hover, a:active {
  border-bottom: 1px solid $color__link--hover;
}


/* ========================================================================== *
   ^ Page Structure
 * ========================================================================== */

.container {
  padding: 4rem;
}

.home__intro {

}

.home__intro__title {
  margin: 0;
}

.home__intro__tagline {
  font-family: Lato;
  font-size: 1.5rem;
}


// == Extenders == //

%animated {
  // Applied to elements that will be animated on page load.
  position: relative;
}


/* ========================================================================== *
   ^ Responsive Rules
 * ========================================================================== */

@media (max-width: 600px) {
  .container {
    padding: 0;
  }
}
