
/* ========================================================================== *
   Config
 * ========================================================================== */

// == Imports == //

@import "susy";

@import "compass/css3";
@import "compass/typography/vertical_rhythm";
@import "compass/utilities/general/clearfix";


// == Partials == //

@import "normalize";


// == Fonts == //

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);


// == Variables == //

$base-font-size     : 16px;
$base-line-height   : 26px;

$color__text        : #353b3d;
$color__header      : #22262B;
$color__link        : #7E46E0;
$color__link--hover : shade($color__link, 50%);
$color__blockquote  : tint($color__text, 35%);


/* ========================================================================== *
   Main
 * ========================================================================== */

@include establish-baseline;

html {
	color: $color__text;
  font-family: "Open Sans", Verdana, Geneva, sans-serif;

	// Add some whitespace to the top of the page
	margin-top: 2em;

  // Have the scroll bar displayed at all times for consistency between pages.
	overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dd,
p, figure,
pre, table, fieldset, hr {
	margin-bottom: rhythm(1, $base-line-height);
}

ul, ol,
blockquote, {
	padding: 0;
	margin: 0;
}


/* ========================================================================== *
   Typography
 * ========================================================================== */

// == Massive Type == //
// For less commonly used type such as Mastheads

.giga { @include adjust-font-size-to(80px); }
.mega { @include adjust-font-size-to(64px); }
.kilo { @include adjust-font-size-to(48px); }


// == Headers == //

h1, h2, h3, h4, h5, h6 {
	color: $color__header;
	font-weight: 600;
}

h1, .alpha   { @include adjust-font-size-to(32px); }
h2, .beta    { @include adjust-font-size-to(24px); }
h3, .gamma   { @include adjust-font-size-to(20px); }
h4, .delta   { @include adjust-font-size-to(18px); }
h5, .epsilon { @include adjust-font-size-to(16px); }
h6, .zeta    { @include adjust-font-size-to(16px); }


// == Links == //

a:link, a:visited {
	color: $color__link;
	font-weight: 600;
	text-decoration: none;
	@include transition(all 0.25s);
}

a:hover, a:active {
	color: $color__link--hover;
}


// == Lists == //

ul {
  list-style: square outside;
}

li {
	padding-left: rhythm(0.5);
}

ul ul,
ol ol {
  margin-left: rhythm(2, $base-line-height);
}


// == Quotes == //

blockquote {
	color: $color__blockquote;
	font-weight: 600;
	margin-left: rhythm(0.5);
  padding-left: rhythm(1);
	border-left: 5px solid #dbdbdb;
}


// == Horizontal Rule == //

hr {
	margin: rhythm(1.5) 0;
	border: 1px solid #e4e4e4;
	// border-style: solid;
	// border-width: 1px 0;
	// border-top-color: #e4e4e4;
	// border-bottom-color: #f2f2f2;
}

.hr__gradient {
	@include background-image(linear-gradient(left center, #e6e6e6, #d4d4d4, #e6e6e6));
}


/* ========================================================================== *
   Page Structure
 * ========================================================================== */

// Testing out the new styles. Not intended for production
.temp_style_view {
	width: 560px;
	margin: 0 auto;
}
