{
	email tls@vocksel.com
}

www.vocksel.com, vocksel.com {
	reverse_proxy /* website:3000
}

# API for Swatch: https://github.com/vocksel/swatch/
swatch.vocksel.com {
	reverse_proxy /* swatch:8080
}

grafana.vocksel.com {
	reverse_proxy /* grafana:3000
}
