#!/usr/bin/env ruby

require 'compass'

Compass.add_project_configuration 'config/compass.rb'

preprocess do
  # Used with blog posts so I can keep Drafts that won't be output until ready.
  items.delete_if {|item| item[:publish] == false }
end

### Stylesheets ##############################################################

compile '/assets/css/_*/' do
  # don’t compile partials
end

compile '/assets/css/*/' do
  # compile scss to css.
  filter :sass, Compass.sass_engine_options
end

route '/assets/css/_*/' do
  # don't output partials.
end

route '/assets/css/*/' do
  # change stylesheet extension to css
  item.identifier.chop + '.css'
end

### Assets ###################################################################

compile '/assets/*/' do
end

route '/assets/*/' do
  item.identifier.chop + '.' + item[:extension]
end

### Home #####################################################################
compile '/' do
  layout 'home'
end

### Blog #####################################################################

compile '/blog/*/' do
  filter :erb
  filter :kramdown
  layout 'article'
end

### Default Handling #########################################################

compile '*' do
  unless item.binary?
    ext = item[:extension]

    if ext == 'md' or ext == 'markdown'
      filter :kramdown
    end

    filter :erb
    layout 'default'
  end
end

route '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
