#!/usr/bin/env ruby

require 'compass'

Compass.add_project_configuration 'config/compass.rb'

### Stylesheets ##############################################################

compile 'assets/css/_*/' do
  # don’t compile partials
end

compile 'assets/css/*' do
  # compile scss to css.
  filter :sass, Compass.sass_engine_options
end

route 'assets/css/_*/' do
  # don't output partials.
end

route 'assets/css/*/' do
  # change stylesheet extention to css
  item.identifier.chop + '.css'
end

### JavaScript ###############################################################

route 'assets/js/*/' do
  item.identifier.chop + '.' + item[:extension]
end

### Blog #####################################################################

compile '/blog/*/' do
  filter :erb
  layout 'blog-post'
end

route '/blog/*/' do
  # year, month, day
  y,m,d,slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)/.match(item.identifier).captures
  "/blog/#{y}/#{m}/#{slug}/index.html"
end

### Default Handling #########################################################

compile '/' do
  # use the home layout on the root index.
  filter :erb
  layout 'home'
end

compile '*' do
  unless item.binary?
    filter :erb
    if item[:extension] == 'md' or item[:extension] == 'markdown'
      filter :kramdown
    end
    if item[:layout]
      layout item[:layout]
    end
    layout 'default'
  end
end

route '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
