@import "config.scss";

// The number of lines the picture should take up. This should match the same
// number of lines that the column next to the picture is, at full width.
$lines: 8;

.face {
	object-fit: cover;
	height: $body-line-height * $lines;
}
