footer(id="bottom" class="page-micro fine-print")
  ul(class="list-inline--delimited")
    li!= htmlWebpackPlugin.options.locals.copyright
    li #[a(href=htmlWebpackPlugin.options.locals.repo) Website Source]
    li Background from #[a(href="http://ommwriter.com") OmmWriter]
