footer(id="bottom" class="page-micro fine-print")
  ul(class="list-inline--delimited")
    li &copy; 2016 David Minnerly
    li: a(href="http://github.com/voxeldavid/voxeldavid-website") Website Source
    li Background from
      a(href="http://ommwriter.com") OmmWriter
