footer(id="bottom" class="page-micro fine-print")
  ul(class="list-inline--delimited")
    li!= self.copyright
    li #[a(href="http://github.com/vocksel/my-website") Website Source]
    li Background from #[a(href="http://ommwriter.com") OmmWriter]
