doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab")
    link(rel="stylesheet", href="/css/screen.css")

  body
    .container
      main(role="main")
        != contents

      footer
        p.copyright Copyright &copy; 2013-2014 David Minnerly
