doctype html
html(lang="en" class="background")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="shortcut icon" href="/favicon.ico")

    block title
      title= site.title

    block styles
      link(rel="stylesheet" href="/css/main.css")
      link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans|Merriweather")

  body
    include header.pug

    block content

    include footer.pug

    block scripts
      script(src="/js/jquery.min.js")
      script(src="/js/jquery.waypoints.min.js")
      script(src="/js/main.js")
