@import "../css/config.scss";

// Dotted border effect inspired by:
// https://codepen.io/markmead/pen/MqmOVB

// Holds the border and tile contents
.container {
	position: relative;
	height: $body-font-size * 14;
}

.image {
	transition: transform 0.2s;
}

.container:hover .hoverUp {
	outline: 4px solid $link-hover;
	transform: translate(0, -($body-font-size / 2));
}
.container:hover .hoverRight {
	outline: 4px solid $link-hover;
	transform: translate($body-font-size / 2, 0);
}

.link {
	color: $text;
}

.border {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border: 2px dashed $text;
	z-index: -1;
}
