---
# Do comments work?
---

<meta charset="utf-8">
<title>voxeldavid.com / <%= item[:title] %></title>
<meta name="author" content="<%= item[:author] %>">
<meta name="generator" content="nanoc <%= Nanoc::VERSION %>">
<link rel="shortcut icon" href="/assets/img/favicon.png">
<link rel="stylesheet" href="assets/css/master.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>