///*------------------------------------*\
//  #ALIASES
//\*------------------------------------*/

$spacing-unit: $inuit-global-spacing-unit;
$small-spacing-unit: $inuit-global-spacing-unit-small;
$large-spacing-unit: $inuit-global-spacing-unit-large;

@mixin font-size($args...) {
  @include inuit-font-size($args...);
}
