---
title : Blog
---

<!-- Nanoc's version of the WordPress Loop -->
<% sorted_articles[0, 4].each do |post| %>
	<div class='post'>
		<h1 class="entry-title"><%= link_to post[:title], post.path %></h1>
		<aside class="post-meta">
			<p class="comments"><a href="<%= post.path + '#disqus-thread' %>">Comments</a></p>
			<p class="date-posted">Posted on <%= post[:author_date] %> by <%= post[:author] %></p>
		</aside>
		<article class="post-body">
			<%= post.compiled_content %>
		</article>
	</div>
<% end %>