@import "../settings/colors";

// Creates Link modifiers for all the brands we use.
// This will generate classes like '.Link--twitter' and '.Link--github'.
@each $_name, $_color in $brand-colors {
  $_color--light: lighten($_color, 20);

  .#{$_name} {
    color: $_color;
    border-bottom-color: $_color;

    &:hover {
      color: $_color--light;
      border-bottom-color: $_color--light;
    }
  }
}
