!!! html

%html{:lang => "en"}
	%head
		%meta{:charset => "utf-8"}
		%meta{:name => "description", :content => "The personal website of David Minnerly."}
		%meta{:name => "viewport", :content => "width=device-width,initial-scale=1.0,maximum-scale=1.0"}

		%title voxeldavid.com / #{current_page.data.title}

		%link{:rel => "shortcut icon", :href => "/assets/img/favicon.png"}
		%link{:rel => "stylesheet", :href => "/assets/css/screen.css"}

		%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"}

	%body
		.container
			= yield

