!!! html

%html{:lang => "en"}
	%head
		%meta{:charset => "utf-8"}
		%meta{:name => "description", :content => "The personal website of David Minnerly."}
		%meta{:name => "viewport", :content => "width=device-width,initial-scale=1.0,maximum-scale=1.0"}

		%title voxeldavid.com / #{current_page.data.title}

		%link{:rel => "shortcut icon", :href => "/assets/img/favicon.png"}

		-# Check page's frontmatter to decide which stylesheet to use.
		- if current_page.data.type == "homepage" then
			%link{:rel => "stylesheet", :href => "/assets/css/home.css"}
		- else
			%link{:rel => "stylesheet", :href => "/assets/css/screen.css"}

		-# Google jQuery with local fallback
		%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
		%script{:src => "window.jQuery || document.write('<script src=\"/assets/js/jquery.js\"><\/script>')"}
	%body
		.container
			= yield

