/*------------------------------------*\
  #INTRO
\*------------------------------------*/

$intro-color: rgba(#fff, .85);
$intro-bg-color: #2f4d6f;

.intro {
  @extend %centered-text;
  background-color: $intro-bg-color;
  @include font-size(18px);
  font-family: $serif-font-stack;
  color: $intro-color;
}

  .intro__header {
    @extend %centered-text;
  }

  .intro__content {
    @include media-query(palm) {
      text-align: left;
    }
  }

  .intro__dash {
    @include dash(lighten($intro-bg-color, 50));
  }
