/**
 * Navigation layed out over a single line.
 *
 * This is your standard "Home  About  Contact" navigation, primarily used at
 * the top of the page.
 *
 * Usage:

  <div class="FlatNav">
    <div class="FlatNav-group">
      <a href="https://twitter.com/you">Twitter</a>
      <a href="https://github.com/you">GitHub</a>
    </div>
  </div>

 */

.FlatNav {
  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    list-style-type: none;
    padding-right: $inuit-global-spacing-unit;

    &:last-of-type {
      padding-right: 0;
    }
  }
}

// Main navigation at the top of the page.
.FlatNav--main {
  float: right;
}

.FlatNav-link {
  border-bottom-width: 0;
  transition-property: color;

  &.is-active {
    border-bottom-width: 1px;
  }
}

.FlatNav-group {
  float: left;

  &:after {
    content: "/";
    padding: 0 $inuit-global-spacing-unit;
  }

  &:last-of-type:after {
    content: none;
    padding: 0;
  }
}
