.Project {}

.ProjectTile {
  margin-bottom: $inuit-global-spacing-unit;
}

.ProjectPreview {
  color: $primary-color;
  position: relative;
}

.ProjectPreview-image {
  width: 100%;
  height: $inuit-global-spacing-unit-large*6;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ProjectPreview-meta {
  position: absolute;
  width: 100%;
  background-color: rgba($neg-primary-color, .5);
  padding: $inuit-global-spacing-unit-small/2 $inuit-global-spacing-unit-small;
  bottom: 0;
}

.ProjectPreview-title {
  // Override padding applied by grid__col.
  padding: 0;
}

.ProjectPreview-date {
  text-align: right;
}

.ProjectGallery {
  margin-bottom: $inuit-global-spacing-unit;

  // Restyling the Slick classes:

  .slick-slide {
    height: $inuit-global-spacing-unit-large*10;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    // We don't want any of the slides having margins, especially at the bottom.
    // This keeps the dots and the sliders fit snug together.
    margin: 0;
  }

  .slick-dots {
    // Removes the default positioning of the dots so we can use plain margins.
    // The dots ended up clipping into the content below them because of the
    // absolute positioning they use by default..
    position: inherit;
    bottom: 0;
  }
}
