.Project {
  @extend .grid__col;
  @extend %span-all;
}

.ProjectTile {
  @extend .grid__col;
  @extend %one-half;
  margin-bottom: $inuit-global-spacing-unit;
}

.ProjectPreview {
  color: $primary-color;
  position: relative;
}

.ProjectPreview-image {
  width: 100%;
  height: $inuit-global-spacing-unit-large*5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ProjectPreview-meta {
  position: absolute;
  width: 100%;
  background-color: rgba($neg-primary-color, .5);
  padding: $inuit-global-spacing-unit-small/2 $inuit-global-spacing-unit-small;
  bottom: 0;
}

.ProjectPreview-title {
  margin: 0;
  padding: 0;
}

.ProjectPreview-date {
  text-align: right;
}
