@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3,
	p {
		@apply text-zinc-200;
	}

	h1 {
		@apply text-4xl;
	}
	h2 {
		@apply text-3xl;
	}

	p {
		@apply text-xl;
	}
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-hex: #22181c;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-hex: #22181c;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background-color: var(--background-hex);
}
