@use "@/styles/config.module.scss";


.container p {
	margin-block-end: 0;
	padding-bottom: 0;
}

.title,
.description {
	margin-block-end: calc(config.$body-font-size / 2);
	margin-bottom: 0;

	margin-block-end: 0;
	padding-bottom: 0;
}

.subtitle {
	color: config.$text-faded;

	margin-block-end: 0;
	padding-bottom: 0;
}

.description {
	margin-bottom: 0;
}
