@use "@/css/config.module.scss";

.date {
	margin-block-end: 0;
	padding-bottom: 0;
}

.job,
.description {
	margin-block-end: calc(config.$body-font-size / 2);
}

.description {
	color: config.$text-faded;
}
