@use "@/styles/config.module.scss";

.container {
	margin-block-end: config.$body-line-height;
}

.title,
.subtitle,
.description,
.projects {
	margin-bottom: 0;
}

.subtitle {
	color: config.$text-faded;
}
