// Brand colors
$text: #DAD2D5;
$text-faded: #94878C;
$background: #22181C;
$accent-color: #FF3685;
$blueb: #6093F3;
$lello: #FFD254;
$greeb: #7ACE5C;

// Bulma overrides
$family-sans-serif: Poppins, sans-serif;

$body-font-size: 1.25em;
$body-line-height: $body-font-size * 1.8;

$primary: $accent-color;
$body-background-color: $background;
$strong-color: $accent-color;
$link: $blueb;
$link-hover: scale-color($blueb, $saturation: -30%);

// Forces the max width on these display types
$desktop: 960px;
$widescreen: 960px;
$fullhd: 960px;
