$max_width            : 600px;

// Colors
$med_gray             : #575757;
$med_blue             : #2189B8;
$dark_gray_blue       : #435259;

$text_color           : $med_gray;
$link_color           : $med_blue;
$link_visited_color   : $med_blue;
$link_hover_color     : $dark_gray_blue;

// Fonts
$text_font            : "Open Sans";
$header_font          : "Ubuntu";
