/** $BLOG
 *
 */

.entry-title {
  font-size: 2.2em;
  margin: 1em 0 0.1em 0;
}


.entry-body {

  h1, h2, h3, h4 {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: $blog_header;
  }

  // Use smaller headers for the entry so they don't overpower other headers.
  h1 { font-size: 1.7em; }
  h2 { font-size: 1.6em; }
  h3 { font-size: 1.5em; }
  h4 { font-size: 1.3em; }

  a {
    font-weight: 700;
  }

  img {
    max-width: $max_width;
    box-shadow: 3px 3px 8px 1px rgba(31, 31, 31, 0.6);
  }

}


.entry-meta {
  color: #7E8487;
  margin: 0.5em 0;

  a {
    &:hover {

    };
  }

}
