
.blog {
  max-width: $blog_width;

  // .prime-nav {
  //   position: fixed;
  //   top: 20px;
  //   left: 0;
  //   width: 150px;

  //   a {
  //     display: block;
  //     margin: 4px 0;
  //     padding: 6px 20px 0;
  //     border-right: 4px solid #EDEDED;
  //     color: #444;
  //     text-align: right;
  //     text-transform: lowercase;
  //     font-size: 1.2em;
  //     font-weight: bold;
  //     @include transition(all 0.2s ease);

  //     &:hover {
  //       border-right: 4px solid #F29705;
  //     }
  //   }
  // }

  .post-list {
    display: block;
    list-style-type: none;
    padding: 0;
  }

  .post-list-title {
    font-weight: 700;
    float: left;
    clear: both;
  }

  .post-list-timestamp {
    float: right;
  }

  .entry-title {
    font-size: 34px;
    color: $blog_title_color;
  }

  .entry-meta {
    color: $blog_meta_color;
  }

  .entry-body {

    h1, h2, h3, h4 {
      margin: 0;
      font-family: $blog_header_font, sans-serif;
      color: $blog_header_color;
    }

    // Use smaller headers for the entry so they don't overpower other headers.
    h1 { font-size: 1.7em; }
    h2 { font-size: 1.6em; }
    h3 { font-size: 1.5em; }
    h4 { font-size: 1.3em; }

    p {
        font-size: 18px;
    }

    a {
      font-weight: 700;
    }

    ul {
      list-style-type: square;
    }

    img {
      max-width: $blog_width;
      box-shadow: 3px 3px 8px 1px rgba(31, 31, 31, 0.6);
    }
  }

  #disqus_thread {
    border-top: 1px solid #ccc;
    padding-top: 3em;
    margin-top: 2em;
  }
}
