
/**
 * These are all of the configurable variables used in the stylesheet.
 *
 * Loaded in `master.css`
 */


/* ========================================================================== *
   $ Sizes
 * ========================================================================== */

$max_width            : 800px;
$blog_width           : 680px;           // Width of Blog posts.


/* ========================================================================== *
   $ Colors
 * ========================================================================== */

// Black              : #000
// White              : #fff
//
// Grey               : #828282
// Medium Dark Grey   : #575757
// Dark Grey          : #303030
// Medium Light Grey  : #c2c2c2
// Light Grey         : #e0e0e0
//
// Medium Blue        : #2189B8
// Dark Grey-Blue     : #435259

$text_color           : #575757;         // General text
$header_color         : #575757;         // Header

$link_color           : #2189B8;         // Link
$link_visited_color   : #2189B8;         // Link Visited
$link_hover_color     : #435259;         // Link Hover

$text_shadow_color    : #fff;            // Text shadow for general text
$header_shadow_color  : #ccc;            // Header text shadow.

$blog_title_color     : #333333;         // The Blog post's Title
$blog_header_color    : #404040;         // Headers used in Blog posts.
$blog_text_color      : #404040;         // General text color
$blog_meta_color      : #c2c2c2;         // Metadata of the post.


/* ========================================================================== *
   $ Fonts
 * ========================================================================== */

/**
 * Google Webfonts:
 *
 * Fonts are separated by pipes (|), and spaces substituted with pluses (+).
 * eg: Open+Sans|Ubuntu.
 */
@import "https://fonts.googleapis.com/css?family=Open+Sans";

$text_font            : "Open Sans";     // Font for general text
$header_font          : "Open Sans";     // Font for headers
$blog_header_font     : "Open Sans";
