

/* ========================================================================== *
   $ Blog Layout
 * ========================================================================== */


.blog {
  max-width: $blog_width;
  margin: 0 auto 4em auto;
}


/*
.blog__navigation {

}

.blog__navigation a {

}

.blog__navigation a:hover {

}
*/


.blog__post-list {
  display: block;
  list-style-type: none;
  padding: 0;
}

.blog__post-list__title {
  font-weight: 700;
  float: left;
  clear: both;
}

.blog__post-list__timestamp {
  float: right;
}


.blog__entry__title {
  font-size: 34px;
  color: $color__blog__header--title;
}

.blog__entry__meta {
  color: $color__blog__meta;
}

.blog__entry__body h1,
.blog__entry__body h2,
.blog__entry__body h3,
.blog__entry__body h4 {
  margin: 0;
  font-family: $font__blog__header, sans-serif;
  color: $color__blog__header;
}

/**
 * Use smaller headers for the blog entry so they don't overpower other headers.
 */
.blog__entry__body h1 { font-size: 1.7em; }
.blog__entry__body h2 { font-size: 1.6em; }
.blog__entry__body h3 { font-size: 1.5em; }
.blog__entry__body h4 { font-size: 1.3em; }

.blog__entry__body p {
  font-size: 18px;
}

.blog__entry__body a {
  font-weight: 700;
}

.blog__entry__body ul {
  list-style-type: square;
}

.blog__entry__body img {
  max-width: $blog_width;
  box-shadow: 3px 3px 8px 1px rgba(31, 31, 31, 0.6);
}


#disqus_thread {
  border-top: 1px solid #ccc;
  padding-top: 3em;
  margin-top: 2em;
}

