@import "~inuitcss/settings/settings.core";
@import "src/css/settings/_global.scss";

$arrow-size: 40px;

.base {
  margin-bottom: $inuit-global-spacing-unit;

  // Restyling the Slick classes:

  :global {
    .slick-list {
      box-shadow: $box-shadow;
    }

    .slick-arrow {
      width: $arrow-size;
      height: $arrow-size;
    }

    .slick-prev:before,
    .slick-next:before {
      text-shadow: 0 0 4px #888;
      opacity: 1;
      font-size: $arrow-size;
      line-height: $arrow-size;
    }

    .slick-next {
      right: 0;
      margin-right: $inuit-global-spacing-unit-tiny;

      transition: right $global-transition;
      &:hover { right: -3px; }
    }

    .slick-prev {
      left: 0;
      margin-left: $inuit-global-spacing-unit-tiny;

      // HACK Puts the arrow above the slider.
      z-index: 1;

      transition: left $global-transition;
      &:hover { left: -3px; }
    }

    .slick-slide {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;

      // We don't want any of the slides having margins, especially at the bottom.
      // This keeps the dots and the sliders fit snug together.
      margin: 0;

      @media only screen and (max-width: 639px) {
        height: $inuit-global-spacing-unit-large*4;
      }

      @media only screen and (min-width: 640px) and (max-width: 959px) {
        height: $inuit-global-spacing-unit-large*7;
      }

      @media only screen and (min-width: 960px) {
        height: $inuit-global-spacing-unit-large*11;
      }
    }

    .slick-dots {
      // Removes the default positioning of the dots so we can use plain margins.
      // The dots ended up clipping into the content below them because of the
      // absolute positioning they use by default..
      position: inherit;
      bottom: 0;
    }
  }
}
