@use "@/css/config.module.scss";

.title {
	margin-bottom: calc(config.$body-font-size / 4);
}

.subtitle {
	font-style: italic;
	color: config.$text-faded;
}

.projectLink {
	&:hover {
		border: 0;
	}
}