@import "config";

.button {
	display: inline-block;
	width: 100%;
	text-align: center;

	margin-bottom: $body-line-height;

	a {
		display: block;
		margin: 0;
		padding: $body-font-size / 4;

		&:hover {
			// Override default link styles
			border: 0;
		}
	}
}

.outline {
	color: $link;
	border: 2px solid $link;

	&:hover {
		border-color: $link-hover;
	}
}
