@import "../config.scss";

.list li {
	display: inline;
	padding-right: $body-font-size;

	&:last-of-type {
		padding-right: 0;
	}
}

.isCentered {
	text-align: center;
}

.isRightAligned {
	text-align: right;
}
