@import "css/config.scss";

.videoContainer {
	position: relative;
	width: 100%;
	padding-top: 56.25%; // 100/56.25 = 560/315 = 1.778
	margin-block-end: $body-line-height;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
