// @charset "utf-8";

@use "./config.module.scss";

@use "~bulma/sass" as vars with (
	$family-primary: config.$family-sans-serif,
	$primary: config.$accent-color,
	$link: config.$link,
	$desktop: config.$desktop,
	$widescreen: config.$widescreen,
	$fullhd: config.$fullhd,
	$body-font-size: config.$body-font-size,
	$body-background-color: config.$body-background-color,
	$body-color: config.$text,
	$body-line-height: config.$body-line-height,
);



@use "~bulma/sass/layout/container";
@use "~bulma/sass/grid/columns";
@use "~bulma/sass/layout/section";

@use "~bulma/sass/themes";

html {
	margin-bottom: config.$body-font-size * 4;

	@media (max-width: vars.$tablet) {
		font-size: 14px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block-end: config.$body-font-size;
}

h1 {
	font-size: config.$body-font-size * 1.6;
}

h2 {
	font-size: config.$body-font-size * 1.4;
}

h3 {
	font-size: config.$body-font-size * 1.2;
}

p,
img,
figure,
ul {
	margin-block-end: config.$body-line-height;
}

a {
	&:hover {
		border-bottom: 2px solid config.$link-hover;
	}
}

code {
	background: none;
	font-size: 1em;
	padding: 0;
	color: config.$accent-color;
}

figure {
	text-align: center;

	img {
		margin-block-end: 0;
	}
}

figcaption {
	font-style: italic;
	font-size: config.$body-font-size * 0.7;
	margin-block-start: config.$body-font-size;
	line-height: config.$body-font-size;
	color: config.$text-faded;
}