---
# Template for Articles (Blog Posts)
---

<div class='blog-entry'>
  <h1 class="entry-title"><%= item[:title] %></h1>

  <div class="entry-meta">
    <span class="entry-date">Posted on <%= format_time("%B %-d, %Y", item[:created_at]) %></span>
  </div> <!-- end .post-data -->

  <article class="entry-body">
    <%= yield %>
  </article> <!-- end .entry-body -->

  <span class="back-to-blog">
    <a href="/blog/">&laquo; Back to Blog</a>
  </span>

  <hr>

  <div id="disqus_thread"></div>
</div> <!-- end .post -->

<script src="/assets/js/disqus.js"></script>
<noscript>
  <div class="no-js disqus">Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></div>
</noscript>