---
# Template for Articles (Blog Posts)
---

<div class="blog__entry">
  <h1 class="blog__entry__title"><%= item[:title] %></h1>

  <article class="blog__entry__body">
    <%= yield %>
  </article> <!--.blog__entry__body -->

  <div class="blog__entry__meta">
    <p class="blog__entry__date">Posted on <%= format_time("%B %-d, %Y", item[:created_at]) %></p>
  </div> <!-- .blog__entry__meta -->

  <a href="/blog/">Back to Blog</a>

  <div id="disqus_thread"></div>
</div> <!-- /blog-entry -->

<script src="/assets/js/disqus.js"></script>
<noscript>
  <div class="no-js disqus">Please enable JavaScript to view the comments powered by <a href="http://disqus.com/?ref_noscript">Disqus.</a></div>
</noscript>
