---
title: "Blog"
kind: blog_home
---

<ol class="blog__post-list">
<% sorted_articles.each do |post| %>
	<li class="blog__post-list__item">
		<a class="blog__post-list__title" href="<%= post.path %>" title="<%= post[:title] %>">
			<%= post[:title] %>
		</a>

		<time class="blog__post-list__timestamp" title="">
			<%= format_time("%b %-d, %Y", post[:created_at]) %>
		</time>
	</li>
<% end %>
</ol>
