
/**
 * These are all of the configurable variables used in the stylesheet.
 */


/* ========================================================================== *
   $ Sizes
 * ========================================================================== */

$max_width:  800px;
$blog_width: 680px; // Width of Blog *posts*, not the entire Blog.


/* ========================================================================== *
   $ Colors
 * ========================================================================== */

/**
 * # Color Pallete:
 *
 * Black               #000
 * White               #fff
 * ---------------------------
 * Grey                #828282
 * Medium Dark Grey    #575757
 * Dark Grey           #303030
 * Medium Light Grey   #c2c2c2
 * Light Grey          #e0e0e0
 * ---------------------------
 * Medium Blue         #2189B8
 * Dark Grey-Blue      #435259
 *
 */

// General Text
$color__text:                #575757;
$color__text__shadow:        #fff;

// Headers (h1-h6)
$color__header:              #575757;
$color__header__shadow:      #ccc;

// Links
$color__link:                #2189B8;
$color__link--hover:         #435259;
$color__link--visited:       #2189B8;

// Home
$color__home__text:          #fff;
$color__home__text__shadow:  #fff;
$color__home__header:        #fff;
$color__home__link:          #fff;
$color__home__link--hover:   #fff;

// Blog
$color__blog__text:          #404040;
$color__blog__header:        #404040;
$color__blog__meta:          #c2c2c2;
$color__blog__header--title: #333333;


/* ========================================================================== *
   $ Fonts
 * ========================================================================== */

/**
 * Google Webfonts:
 *
 * Fonts are separated by pipes (|), and spaces substituted with pluses (+).
 * eg: Open+Sans|Ubuntu.
 */
@import "https://fonts.googleapis.com/css?family=Open+Sans|Lato:300";

// General
$font__text:         "Open Sans";
$font__header:       "Open Sans";

// Blog
$font__blog__header: "Open Sans";

// Home
$font__home__header: "Lato";
