/**
 * Base styling for HTML elements.
 *
 * This file handles all the styling for the HTML elements we make use of.
 *
 * Each React component has its own stylesheet grouped with it. If a component
 * has any styles you can find them in the same directory as the component.
 */

@import "~inuitcss/settings/settings.core";
@import "./settings/global";
@import "./settings/colors";
@import "./settings/fonts";

// =============================================================================
// Page
// =============================================================================

html {
  font-family: $sans-font-stack;
  color: $text-color;
}

body {
  background-color: $background-color;
  padding: $inuit-global-spacing-unit-large 0;
}

section {
  margin-bottom: $inuit-global-spacing-unit;
}


// =============================================================================
// Headings
// =============================================================================

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-font-stack;
  font-weight: normal;
  color: $header-color;
  display: inline-block;
}


// =============================================================================
// Links
// =============================================================================

a {
  $color: $link-color;
  $hover: lighten($color, 20);

  color: $color;
  text-decoration: none;
  transition: all $global-transition;
  border-bottom: 1px solid $color;

  &:hover {
    color: $hover;
    border-bottom-color: $hover;
  }
}


// =============================================================================
// Images
// =============================================================================

img {
  // It doesn't seem that inuitcss has margins for images. We need to add it
  // manually.
  margin-bottom: $inuit-global-spacing-unit;
}


// =============================================================================
// Form elements
// =============================================================================

input, textarea {
  padding: $inuit-global-spacing-unit-tiny;
  width: 100%;
}

label, input {
  display: block;
}

textarea {
  resize: vertical;
  width: 100%;
  height: $inuit-global-spacing-unit-huge*1.5;
}


// =============================================================================
// Buttons
// =============================================================================

button {
  cursor: pointer;
  padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit*1.5;

  // Get rid of those gross defaults.
  outline: none;
  border: 0;
}
