/*------------------------------------*\
  #LINKS
\*------------------------------------*/

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 20);
    text-decoration: underline;
  }
}
