/*------------------------------------*\
  #QUOTES
\*------------------------------------*/

$quote-border-size: 2px;

blockquote {
  /* Pushes the border to the outside of the page */
  margin-left: -$spacing-unit;
  padding-left: $spacing-unit - $quote-border-size;

  font-family: $serif-font-stack;
  font-style: italic;
  border-left: $quote-border-size solid $accent-color;
  color: rgba($text-color, .8);
}
