/*------------------------------------*\
  #PAGE
\*------------------------------------*/

html {
  font-family: $serif-font-stack;
}

body {
  padding: $large-spacing-unit*2 0;
  background: url("/img/ommwriter.jpg") no-repeat fixed;
  background-size: cover;
}
