/**
 * Base styling for HTML elements.
 *
 * This file handles all the styling for the HTML elements we make use of.
 *
 * Each React component has its own stylesheet grouped with it. If a component
 * has any styles you can find them in the same directory as the component.
 */

@import "~inuitcss/settings/settings.core";
@import "./settings/global";
@import "./settings/colors";
@import "./settings/fonts";

// =============================================================================
// Page
// =============================================================================

html {
  font-family: $sans-font-stack;
  color: $text-color;
}

body {
  background-color: $background-color;
  padding: $inuit-global-spacing-unit-large 0;
}


// =============================================================================
// Headings
// =============================================================================

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-font-stack;
  font-weight: normal;
  color: $header-color;
  display: inline-block;
}


// =============================================================================
// Links
// =============================================================================

$link-color: #219ab7;
$link-color--hover: lighten($link-color, 20);
$link-underline-height: 1px;

a {
  color: $link-color;
  text-decoration: none;
  transition: all $global-transition;
  border-bottom: $link-underline-height solid $link-color;

  &:hover {
    color: $link-color--hover;
    border-bottom-color: $link-color--hover;
  }
}


// =============================================================================
// Images
// =============================================================================

img {
  // It doesn't seem that inuitcss has margins for images. We need to add it
  // manually.
  margin-bottom: $inuit-global-spacing-unit;
}
