/*------------------------------------*\
  #PAGE
\*------------------------------------*/

// These are the paddings for the top and bottom of the page.
//
// They are used both to add some breathing room, and these also act as the
// sizes for "objects.gradients" so that the content isn't obscured.
$page-padding-top: 15vh;
$page-padding-bottom: 35vh;

html {
  font-family: $serif-font-stack;
}

body {
  padding-top: $page-padding-top;
  padding-bottom: $page-padding-bottom;
  background: url("/img/ommwriter.jpg") no-repeat fixed;
  background-size: cover;
}
