/*------------------------------------*\
  #QUOTES
\*------------------------------------*/

$quote-border-size: 2px;

blockquote {
  /* Pushes the border to the outside of the page */
  margin-left: -$spacing-unit;
  padding-left: $spacing-unit - $quote-border-size;

  font-family: $serif-font-stack;
  border-left: $quote-border-size solid $accent-color;
  color: rgba($text-color, .8);

  p:first-of-type {
    /* Unindents the text so all the text lines up, with the quotation mark
     * outside the page.
     *
     * This value must be tweaked to work with the current font. */
    text-indent: -.65em;

    &:before {
      content: "\201C"; /* left double quote (“) */
    }
  }
  p:last-of-type:after {
      content: "\201D"; /* right double quote (”) */
  }
}
