/*------------------------------------*\
  #MASTHEAD
\*------------------------------------*/

.masthead {
  background: #303030 url('../img/caspe-sparsoe-forest.jpg') no-repeat center center;
  background-size: cover;
  color: #f0f0f0;
}
