/*------------------------------------*\
  #INTRO
\*------------------------------------*/

.intro {
  background-color: $intro-bg-color;
  color: $intro-color;
  text-align: center;
}

  .intro__bio {
    @include font-size(18px);
    font-family: $serif-font-stack;
  }
