/*------------------------------------*\
  #AVATAR
\*------------------------------------*/

.avatar {
  background-image: url(../img/me-avatar-small.png);
  width:  128px;
  height: 128px;
  display: inline-block;
  box-shadow: 2px 2px 4px rgba(0,0,0, .4);
}
