/*------------------------------------*\
  #MASTHEAD
\*------------------------------------*/

.masthead {
  background: url('../img/wojtek-witkowski-001.jpg') no-repeat center center fixed;
  background-color: $masthead-bg-color;
  background-size: cover;
  color: $masthead-color;
  text-align: center;

  @include media-query(palm) {
    /* On mobile devices (atleast Android Firefox) the background follows as you
     * scroll when fixed. It's set back to 'scroll' on mobile to fix that. */
    background-attachment: scroll;

    padding-left:  $small-spacing-unit;
    padding-right: $small-spacing-unit;
  }
}

  .masthead__headline {
    @include font-size(50px);
    font-family: $masthead-font-stack;

    /* Keep the headline and tagline close together. */
    margin-bottom: $small-spacing-unit;

    /* Arbitrary values that look good with Roboto Slab. */
    text-shadow: 2px 2px 2px #1b2031;

    @include media-query(palm) {
      @include font-size(46px);
    }
  }

  .masthead__interests {
    @include font-size(20px);
    font-family: $serif-font-stack;

    /* Arbitrary values that look good with Droid Serif */
    text-shadow: 1px 1px 1px #1b2031;

    @include media-query(palm) {
      @include font-size(16px);
    }
  }
