/*------------------------------------*\
  #INTRO
\*------------------------------------*/

.intro {
  background-color: #ededed;
  text-align: center;
}

  .intro__bio {
    @include font-size(18px);
    font-family: $serif-font-stack;
  }
