/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

$btn-base-color: #fff;
$btn-twitter-color: #32abdf;
$btn-github-color: #262124;
$btn-blog-color: #e24e4b;

// Pretties up the FontAwesome icons
@mixin icon($name, $color) {
  .btn--#{$name} {
    background-color: $color;
    border-color: $color;

//    &:hover {
//      color: $color;
//    }
  }
}

.btn--social {
  position: relative;
  bottom: 0;
  margin: 0 $small-spacing-unit;
  padding: $small-spacing-unit;
  border-radius: 50%;
  border: 2px solid $btn-base-color;
  color: $btn-base-color;

  transition: all .2s ease;

  &:hover {
    color: $btn-base-color;
    bottom: 4px;
  }
}

@include icon(twitter, $btn-twitter-color);
@include icon(github,  $btn-github-color);
@include icon(blog,    $btn-blog-color);
