/*------------------------------------*\
  #MASTHEAD
\*------------------------------------*/

/**
 * [1] Fix the headline and tagline more snuggly together.
 * [2] These are entirely arbitrary values that look good with the Roboto Slab
 *     and Droid Serif fonts, respectively.
 */
.masthead {
  background: url('../img/wojtek-witkowski-001.jpg') no-repeat center center fixed;
  background-color: $masthead-bg-color;
  background-size: cover;
  color: $masthead-color;
  text-align: center;

  @include media-query(palm) {
    // On mobile devices (atleast Android Firefox) the background follows as you
    // scroll when fixed. It's set back to 'scroll' on mobile to fix that.
    background-attachment: scroll;
  }
}

  .masthead__headline {
    @include font-size(50px);
    font-family: $masthead-font-stack;
    margin-bottom: $small-spacing-unit; /* [1] */
    text-shadow: 2px 2px 2px #1b2031; /* [2] */
  }

  .masthead__interests {
    @include font-size(20px);
    font-family: $serif-font-stack;
    text-shadow: 1px 1px 1px #1b2031; /* [2] */
  }
