/*------------------------------------*\
  #PAGE-MICRO
\*------------------------------------*/

$footer-color: rgba(#fff, .7);
$footer-bg-color: #1e1e22;

.page-micro {
  padding: $small-spacing-unit;
  background-color: $footer-bg-color;
  color: $footer-color;
  @include font-size(14px);
  text-align: center;
}
