/*------------------------------------*\
  #PAGE-MICRO
\*------------------------------------*/

.page-micro {
  padding: $small-spacing-unit;
  color: rgba($text-color, .7);
  @include font-size(14px);
  text-align: center;
}
