/*------------------------------------*\
  #BACKGROUND
\*------------------------------------*/

.background {
  background-image: url("/img/ommwriter.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
