/*------------------------------------*\
  #INTRO
\*------------------------------------*/

.intro {
  background-color: $intro-bg-color;
  @include font-size(18px);
  font-family: $serif-font-stack;
  color: $intro-color;
  text-align: center;
}

  .intro a {
    color: $intro-link-color;

    &:hover {
      color: lighten($intro-link-color, 20);
    }
  }

  .intro__dash {
    @include dash(lighten($intro-bg-color, 50));
  }
