/*------------------------------------*\
  #PHOTO
\*------------------------------------*/

/* The primary class for displaying images that take up the full-width allowed
 * to them.
 *
 * Usage:

    <figure class="photo">
      <a class="photo__link" src="http://example.com">
        <img class="photo__image" src="/img/example.jpg" alt="An Example Image">
      </a>

      <figcaption class="photo__caption">
        A caption that appears below the image.
      </figcaption>
    </figure>

 */

.photo {}

  .photo__link {
    // Remove the default border applied to links so it doesn't appear behind
    // the image.
    border-bottom: none;
  }

  .photo__image {
    // Keeps the photo and caption close together.
    margin-bottom: $small-spacing-unit;
  }

  .photo__caption {
    @extend %fine-print;
    font-style: italic;
    text-align: center;
  }
