/*------------------------------------*\
  #CENTER
\*------------------------------------*/

/**
 *
   <div class="center">
     <div class="center__vertical">
       <p>Content centered vertically</p>
     </div>
   </div>
 *
 * For horizontal
 */

.center,
%center {
  display: table;
  width: 100%;
}

.center__vertical,
%center__vertical {
  display: table-cell;
  vertical-align: middle;
}
