/*------------------------------------*\
  #FULL-HEIGHT
\*------------------------------------*/

/**
 * Covers the first 100% of visible content.
 *
 * This allows you to have a full-screen background while still allowing for
 * content below the image.
 *
 * For this to work properly it must be applied on all of the elements down a
 * chain.
 *
 * Example:

  <html class="full-height">
    <head>...</head>
    <body class="full-height">
      <main class="full-height  masthead" role="main">
      </main>
    </body>
  </html>

 */

.full-height,
%full-height {
  height: 100%;
  max-height: 100%;

  @include media-query(palm) {
    // Don't bother with the responsive height on smaller displays. It can be
    // finicky on mobile devices in portrait mode, so until I have better mobile
    // support I'll be using this.
    height:     $spacing-unit*16;
    max-height: $spacing-unit*16;
  }
}
