/*------------------------------------*\
  #GRADIENT
\*------------------------------------*/

/* This allows you to create a very nice fade effect on elements at the top and
 * bottom of the page. As you scroll it looks like text fades away into the
 * background.
 *
 * Inspired by http://matteobelfio.re/
 *
 * Usage:

    <!-- Creates a gradient at the top and bottom of the page. -->

    <div class="gradient gradient__top"></div>
    <div class="gradient gradient__bottom"></div>

 */

.gradient {
  &:before, &:after {
    content: "";
    z-index: 1;
    position: fixed;
    width: 100%;
    pointer-events: none;
  }
}

  .gradient__top:before {
    background: linear-gradient(to bottom, $primary-color 10%, rgba(#fff, 0) 100%);
    top: 0;
    height: $page-padding-top;
  }

  .gradient__bottom:after {
    background: linear-gradient(to bottom, rgba(#fff, 0) 0%, $primary-color 90%);
    bottom: 0;
    height: $page-padding-bottom;
  }
