/*------------------------------------*\
  #INLINE BUTTON
\*------------------------------------*/

/* Applies a simple rounded background to the element. Typically used on
 * anchors.
 *
 * Usage:

    <a class="inline-button" href="#">Button</a>
 */


$inline-button-color: $neg-primary-color;
$inline-button-color--hover: lighten($inline-button-color, 20);

.inline-button,
%inline-button {
  // The button looks best with a sans-serif font
  font-family: $sans-font-stack;

  background-color: $inline-button-color;
  color: $neg-text-color;
  padding: .1em .25em;
  border-radius: .2em;
  transition: background-color .2s;

  // Removing default link styling. This seems like a really bad way of doing
  // things. I don't know how else I could go about restyling the links withhout
  // creating a class to apply on each <a> tag (to avoid styling them globally).
  border: none;
  font-weight: normal;

  &:hover {
    // Again, removing default styling.
    color: $neg-text-color;

    background-color: $inline-button-color--hover;
  }
}
