///*------------------------------------*\
//  #EFFECTS
//\*------------------------------------*/

// The base speed all transitions on the site will be based off of.
$transition-speed: .2s;

///*------------------------------------*\
//  #COLORS
//\*------------------------------------*/

$primary-color: #e6eae9;
$neg-primary-color: #262626;
$accent-color: #e3224c;
$text-color: #011920;
$neg-text-color: #f5f5f5;

$inuit-base-font-size: 17px;
$inuit-base-line-height: 28px;
$inuit-base-text-color: $text-color;
$inuit-base-background-color: $primary-color;




///*------------------------------------*\
//  #FONTS
//\*------------------------------------*/

$sans-font-stack: "Droid Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
$serif-font-stack: Merriweather, Georgia, Times, "Times New Roman", serif;
