///*------------------------------------*\
//  #COLORS
//\*------------------------------------*/

$inuit-base-text-color: #333;
$inuit-base-background-color: #f5f5f5;

$link-color:        #277cd1;

$copyright-color:   #666666;

$masthead-color:    #f0f0f0;
$masthead-bg-color: #303030;





///*------------------------------------*\
//  #FONTS
//\*------------------------------------*/

$sans-font-stack:   "Droid Sans", Roboto, Arial, sans-serif;
$serif-font-stack:  "Droid Serif", "Times New Roman", Times, serif; // [1]
$header-font-stack: "Roboto Slab", $serif-font-stack;
