///*------------------------------------*\
//  #GRIDS
//\*------------------------------------*/

$susy: (
  columns: 10,
  column-width: 4em,

  debug: (
    image: show,
    color: rgba(255,39,205, .5),
    output: overlay,
    toggle: top right,
  )
);

$compact-layout: (
  columns: 7,
  column-width: 3.5em
);
