/*------------------------------------*\
  #GRIDS
\*------------------------------------*/

$susy: (
  columns: 10,
  column-width: 3em,

  debug: (
    image: show,
    color: rgba(255,39,205, .5),
    output: overlay,
    toggle: top right,
  )
);





/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$link-color:        #277cd1;

$copyright-color:   #666666;

$masthead-color:    #f0f0f0;
$masthead-bg-color: #303030;





/*------------------------------------*\
  #FONT-FAMiLIES
\*------------------------------------*/

$font-stack:          "Droid Sans", Roboto, Arial, sans-serif;
$font-stack--headers: "Roboto Slab", "Droid Serif", "Times New Roman", Times, serif;
