/*------------------------------------*\
  #GRIDS
\*------------------------------------*/

$susy: (
  columns: 8,
  column-width: 4em,

  debug: (
    image: show,
    output: overlay,
    toggle: top right,
  )
);





/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$link-color:        #277cd1;
$link-color--hover: #1d63a8;

$copyright-color:   #666666;





/*------------------------------------*\
  #FONT-FAMiLIES
\*------------------------------------*/

$font-stack:          "Droid Sans", Roboto, Arial, sans-serif;
$font-stack--headers: "Roboto Slab", "Droid Serif", "Times New Roman", Times, serif;
