///*------------------------------------*\
//  #GRIDS
//\*------------------------------------*/

$susy: (
  columns: 10,
  column-width: 3em,

  debug: (
    image: show,
    color: rgba(255,39,205, .5),
    output: overlay,
    toggle: top right,
  )
);

// The introductory content needs a grid specifically tailored to the content
// inside of it.
$intro-layout: (
  columns: 9
);
