///*------------------------------------*\
//  #COLORS
//\*------------------------------------*/

$inuit-base-text-color: #333;
$inuit-base-background-color: #f5f5f5;

$link-color:        #5fa1d1;
$link-color--hover: lighten($link-color, 20);
$quote-color:       #666666;
$masthead-color:    #f0f0f0;
$masthead-bg-color: #303030;

//$intro-color:      #f5f5f5;
//$intro-bg-color:   #554574;
//$intro-link-color: #ffe140;
$intro-color:       rgba(#fff, .85);
$intro-bg-color:    #243a54;

$footer-color:      rgba(#fff, .7);
$footer-bg-color:   #1e1e22;

$btn-base-color:    #cdcdcd;
$btn-twitter-color: #32abdf;
$btn-github-color:  #171516;
$btn-blog-color:    #e24e4b;




///*------------------------------------*\
//  #FONTS
//\*------------------------------------*/

$sans-font-stack:     "Droid Sans", Arial, sans-serif;
$serif-font-stack:    "Merriweather", "Times New Roman", Times, serif;
$masthead-font-stack: "Roboto Slab", $serif-font-stack;
