///*------------------------------------*\
//  #GRIDS
//\*------------------------------------*/

$susy: (
  columns: 10,
  column-width: 4em,

  debug: (
    image: show,
    color: rgba(255,39,205, .5),
    output: overlay,
    toggle: top right,
  )
);

// [1] Completely arbitrary value. The layout is used exlusively for the
//     introduction, because of this the grid is edited to best display the
//     contents.
$compact-layout: (
  columns: 8, // [1]
);
