///*------------------------------------*\
//  #MIXINS
//\*------------------------------------*/

// A simple alternative to an hr tag. Should be applied to a class on a block
// element, such as a div.
//
// Example class:
//
//   .dash {
//     @include dash(1px #777);
//   }
//
// And in your markup:
//
//   <h1>A Title</h1>
//
//   <div class="dash"></div>
//
//   <p>Some content!</p>
@mixin dash($color: #202020, $height: 1px, $width: $large-spacing-unit, $opacity: .5) {
  height: $height;
  width:  $width;

  // The height of the dash needs to be subtracted from the margin, otherwise
  // the vertical rhythm will be knocked out of place.
  margin: $spacing-unit auto ($spacing-unit - $height);

  // The dash is semi-transparent to blend in with the background.
  background-color: rgba($color, $opacity);
}
