
@import "../bower_components/inuit-defaults/settings.defaults";
@import "settings.colors";
@import "settings.type";

@import "../bower_components/inuit-mixins/tools.mixins";

@import "../bower_components/inuit-normalize/generic.normalize";
@import "../bower_components/inuit-box-sizing/generic.box-sizing";

@import "../bower_components/inuit-page/base.page";

html {
  font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-stack--headers;
}

h1, p {
  margin-bottom: $inuit-base-spacing-unit;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-color--hover;
    text-decoration: underline;
  }
}

.container {
  width: 30rem;
  margin: 5rem auto 2rem auto;
}

.copyright {
  @include inuit-font-size(14px);
  color: $copyright-color;
  text-align: center;
}
