
@import "../bower_components/inuit-defaults/settings.defaults";

@import "../bower_components/inuit-functions/tools.functions";
@import "../bower_components/inuit-mixins/tools.mixins";

@import "../bower_components/inuit-normalize/generic.normalize";
@import "../bower_components/inuit-box-sizing/generic.box-sizing";

@import "../bower_components/inuit-page/base.page";

html {
  font-size: 1em;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", sans-serif;
}

a {
  color: #277cd1;
  text-decoration: none;

  &:hover {
    color: #1d63a8;
    text-decoration: underline;
  }
}

.container {
  width: 30rem;
  margin: 5rem auto 2rem auto;
}

.copyright {
  font-size: .8em;
  color: #666;
  text-align: center;
}
