@charset "utf-8";

@import "./config.scss";
@import "./bulma.scss";

html {
	margin-bottom: $body-font-size * 4;

	@media (max-width: $tablet) {
		font-size: 14px;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-block-end: $body-font-size;
}

h1 {
	font-size: $body-font-size * 1.6;
}
h2 {
	font-size: $body-font-size * 1.4;
}
h3 {
	font-size: $body-font-size * 1.2;
}

p, img, figure, ul {
	margin-block-end: $body-line-height;
}

a {
	&:hover {
		border-bottom: 2px solid $link-hover;
	}
}

code {
	background: none;
	font-size: 1em;
	padding: 0;
	color: $accent-color;
}

figure {
	text-align: center;

	img {
		margin-block-end: 0;
	}
}

figcaption {
	font-style: italic;
	font-size: $body-font-size * 0.7;
	margin-block-start: $body-font-size;
	line-height: $body-font-size;
	color: $text-faded;
}
