doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= title

  body
    header
      h1= title

    main(role="main")
      != contents

    footer
      p Copyright &copy; 2013-2014 David Minnerly
