// Brand colors
$text: #DAD2D5;
$text-faded: adjust-color($text, $alpha: -0.4);
$background: #22181C;
$accent-color: #FF3685;
$blueb: #5B94FF;
$lello: #FFD254;

// Bulma overrides
$family-sans-serif: Poppins, sans-serif;

$body-font-size: 1.25em;
$body-line-height: $body-font-size * 1.5;

$primary: $accent-color;
$body-background-color: $background;
$strong-color: $accent-color;
$link: $blueb;
$link-hover: scale-color($blueb, $hue: -10%);

// Forces the max width on these display types
$desktop: 960px;
$widescreen: 960px;
$fullhd: 960px;
