doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Home

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Droid+Sans|Droid+Serif")
    link(rel="stylesheet", href="/css/main.css")

    link(rel="shortcut icon", href="/img/favicon.png")

  body
    main(role="main")
      .wrapper
        h1 Stay Tuned

        :markdown
          I'm currently in the process of transitioning from my [Middleman](http://middlemanapp.com) site ([release 4.3.0](https://github.com/VoxelDavid/voxeldavid-website/releases/tag/v4.3.0)). It's going to be a little while before I have anything presentable.

          I'm still learning about [Metalsmith](http://metalsmith.io) and setting up my build process, but I'll be developing soon enough. In the meantime, [check out my Blog](http://blog.davidminnerly.com).

        p.copyright &copy; 2014 David Minnerly
