@charset "utf-8";

@import "config";

html {
	margin-top: $body-font-size * 4;
	margin-bottom: $body-font-size * 4;
}

h1, h2, h3, h4, h5, h6 {
	margin-block-end: $body-font-size/1.5;
	font-family: $family-serif;
}

h1 {
	font-size: $body-font-size * 1.4;
}
h2 {
	font-size: $body-font-size * 1.1;
}
h3 {
	font-size: $body-font-size;
}

p, img {
	// text-indent: $font-size * 3;
	// text-align: justify;
	margin-block-end: $body-font-size;
}

a {
	&:hover {
		text-decoration: underline;
	}
}

code {
	background: none;
	font-size: 1em;
	padding: 0;
	color: $accent-color;
}
