@import "~inuitcss/settings/settings.core";
@import "~bourbon-neat/core/neat";

$neat-grid: (
  columns: 12,
  gutter: $inuit-global-spacing-unit,
);

.Grid,
%Grid {
  @include grid-container;
}

.Grid-fullColumn,
%Grid-fullColumn {
  @include grid-column;
}

.Grid-halfColumn,
%Grid-halfColumn {
  @include grid-column(1 of 2);
}
