@import "~inuitcss/settings/settings.core";
@import "~bourbon-neat/core/neat";

$neat-grid: (
  columns: 12,
  gutter: $inuit-global-spacing-unit,
);

.grid, %grid {
  @include grid-container;
}

.full, %full {
  @include grid-column;
}

.half, %half {
  @include grid-column(1 of 2);
}
