---
title: Home
type: homepage
---

<header class="home__intro">
	<h1 class="home__intro__title">
		Hi, I'm David
	</h1>

	<p class="home__intro__tagline">
		I build websites and have a ton of fun doing it.
	</p>
</header>

<div class="home__content">
	<div class="home__links--prime">
		<a target="_blank" href="mailto:me@voxeldavid.com">me@voxeldavid.com</a>
		<a target="_blank" href="https://twitter.com/voxeldavid">Twitter</a>
		<a target="_blank" href="https://github.com/voxeldavid">Github</a>
		<a target="_blank" href="https://gist.github.com/voxeldavid">Gists</a>
	</div>
</div>

<footer class="home__footer">
	<div class="home__links--sub">
		<a href="about/">About</a>
		<a href="blog/">Blog</a>
		<a href="work/">Work</a>
		<a href="archive/">Site Archive</a>
	</div>
</footer>

<script src="/assets/js/home.js" type="text/javascript"></script>
