---
title: Home
type: homepage
---

%header.home__intro
	%h1.home__intro__title
		Hi, I'm David.

	%p.home__intro__tagline
		I build websites and have a ton of fun doing it.

.home__links
	%a{:target => "_blank", :href => "mailto:me@voxeldavid.com"} me@voxeldavid.com
	%a{:target => "_blank", :href => "https://twitter.com/voxeldavid"} Twitter
	%a{:target => "_blank", :href => "https://github.com/voxeldavid"} Github
	%a{:target => "_blank", :href => "https://gist.github.com/voxeldavid"} Gists

%footer.home__footer
	%a{:href => "blog/"} Blog
	%a{:href => "work/"} Work
	%a{:href => "archive/"} Site Archive

%script{:src => "/assets/js/home.js", :type => "text/javascript"}
