@import "~inuitcss/settings/settings.core";

.base {
  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    list-style-type: none;
    padding-right: $inuit-global-spacing-unit;

    &:last-of-type {
      padding-right: 0;
    }
  }
}

// Main navigation at the top of the page.
.primaryNav {
  composes: base;
  float: right;
}

.group {
  float: left;

  &:after {
    content: "/";
    padding: 0 $inuit-global-spacing-unit;
  }

  &:last-of-type:after {
    content: none;
    padding: 0;
  }
}
