@import "~inuitcss/settings/settings.core";
@import "~bourbon-neat/core/neat";
@import "src/css/settings/_grid.scss";

.base {
  @include grid-column;
}

.half {
  composes: base;

  @include grid-media($neat-grid) {
    @include grid-column(1 of 2);
  }
}

.reduced {
  composes: base;

  @include grid-media($neat-grid) {
    @include grid-column(2 of 3);
  }
}

.aside {
  composes: base;
  @include grid-media($neat-grid) {
    @include grid-column(1 of 3);
  }
}
